<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head')%>
</head>
<body class="container-fluid">
  <header>
    <%- include('./partials/header')%>
  </header>
    <form action="/teachers/edit/<%=Teacher[0].id%>" method="post">
      Teacher First Name:<br>
      <input type="text" name="first_name" value="<%=Teacher[0].first_name%>">
      <br>
      Teacher Last Name:<br>
      <input type="text" name="last_name" value="<%=Teacher[0].last_name%>">
      <br>
      Teacher Email:<br>
      <input type="text" name="email" value="<%=Teacher[0].email%>">
      <br>
      Subject:<br>
      <select name="SubjectId">
        <%for(let i = 0; i< Subjects.length; i++){%>
        <option value="<%=Subjects[i].id%>"><%=Subjects[i].subject_name%></option>
        <%}%>
      </select>
      <br><br>
      <input type="submit" value="Submit">
    </form>
  <footer>
    <%- include('./partials/footer')%>
  </footer>
</body>
</html>
