<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head') %>
</head>
<body class="container-fluid">
<header>
  <%- include('./partials/header') %>
</header>
  <table class="table">
    <tr>
      <th>Student ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Full Name</th>
      <th>Email</th>
      <th>Actions</th>
    </tr>
    <%console.log(Student)%>
    <%for(let i = 0; i < Student.length; i++){%>
    <tr>
      <td><%=Student[i].id%></td>
      <td><%=Student[i].first_name%></td>
      <td><%=Student[i].last_name%></td>
      <td><%=Student[i].getFullName()%></td>
      <td><%=Student[i].email%></td>
      <td><a href="/students/edit/<%=Student[i].id%>/addsubject">Add Subjects</td>
      <td><a href="/students/edit/<%=Student[i].id%>">Edit</td>
      <td><a href="/students/delete/<%=Student[i].id%>">Delete</td>
    </tr>
    <%}%>
  </table>
  <footer>
    <%- include('./partials/footer') %>
  </footer>
</body>
</html>
