<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head')%>
</head>
<body class="container-fluid">
  <header>
    <%- include('./partials/header')%>
  </header>
    <table class="table">
      <tr>
        <th>Subject ID</th>
        <th>Subject Name</th>
        <th>Teachers</th>
        <th>Actions</th>
      </tr>
      <% for(let i = 0; i < Subjects.length; i++){ %>
      <tr>
        <td><%=Subjects[i].id%></td>
        <td><%=Subjects[i].subject_name%></td>
        <td>
          <ol>
            <%for(let y = 0; y < Subjects[i].Teachers.length; y++){%>
            <li><%=Subjects[i].Teachers[y].getFullname()%></li>
            <%}%>
          </ol>
        </td>
        <td><a href="/subjects/<%=Subjects[i].id%>/enrolledstudent">Enrolled Student</td>
    </tr>
    <% } %>
    </table>
  <footer>
    <%- include('./partials/footer')%>
  </footer>
</body>
</html>
