<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Teachers</title>
</head>
<body>
  <table>
    <tr>
      <th>ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Subject</th>
    </tr>
    <% for(let i = 0; i < Teacher.length; i++){ %>
    <tr>
      <td><%= Teacher[i].id %></td>
      <td><%= Teacher[i].first_name %></td>
      <td><%= Teacher[i].last_name %></td>
      <td><%= Teacher[i].email %></td>
      <%if(Teacher[i].Subject){%>
      <td><%= Teacher[i].Subject.subject_name %></td>
      <%} else {%>
      <td>Unassigned</td>
      <%}%>
      <td><a href="/teachers/edit/<%=Teacher[i].id%>">Edit</td>
      <td><a href="/teachers/delete/<%=Teacher[i].id%>">Delete</td>
    </tr>
    <% } %>
  </table>
</body>
</html>
