<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head')%>
</head>
<body class="container-fluid">
  <header>
    <%- include('./partials/header')%>
  </header>
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Subject</th>
        </tr>
      </thead>
      <tbody>
        <% for(let i = 0; i < Teacher.length; i++){ %>
        <tr>
          <td><%= Teacher[i].id %></td>
          <td><%= Teacher[i].first_name %></td>
          <td><%= Teacher[i].last_name %></td>
          <td><%= Teacher[i].email %></td>
          <%if(Teacher[i].Subject){%>
          <td><%= Teacher[i].Subject.subject_name %></td>
          <%} else {%>
          <td>Unassigned</td>
          <%}%>
          <td><a href="/teachers/edit/<%=Teacher[i].id%>">Edit</td>
          <td><a href="/teachers/delete/<%=Teacher[i].id%>">Delete</td>
        </tr>
        <% } %>
      </tbody>
    </table>
  <footer>
    <%- include('./partials/footer')%>
  </footer>
</body>
</html>
